@charset "utf-8";
/* CSS Document */

header {
	font-size: 36px;
	font-family: "Courier New", monospace;
	background-image: linear-gradient(to bottom, darkorchid, violet);
}
header, footer {
	padding: 1em;
	color: black;
	background-color: darkorchid;
	text-align: center;
	font-family: 'League Gothic', serif;
}
nav {
	margin: 0;
	padding: 0;
}
nav ul {
	list-style-type: none;
	padding: 5px;
	margin: 0;
	overflow: hidden;
	background-image: linear-gradient(to bottom, violet, darkorchid);
	text-align: center;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	font-family: 'League Gothic', serif;
	color:#0A0A0A;
	padding: 16px;
	margin: 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 20px;
}
nav ul li a:hover {
	background-color: white;
}
nav ul a {
	text-decoration: none;
	display: block;
}
article {
	margin-left: 170px;
	border-left: 1px solid purple;
}

.viewing {
	color: black;
	outline: solid #FFFFFF 1px;
}
